@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

@import './normalize';

@import './reset';

:root {
  // colors
  --clr-primary: hsl(193, 38%, 86%);
  --clr-secondary: hsl(150, 100%, 66%);
  --clr-neutral-700: hsl(218, 23%, 16%);
  --clr-neutral-500: hsl(217, 19%, 24%);
  --clr-neutral-300: hsl(217, 19%, 38%);

  // font sizes
  --fs-200: 0.7rem;
  --fs-400: 1.5rem; // 24px where 1rem == 16px

  @media screen and (min-width: 36rem) {
    --fs-200: 0.8rem;
    --fs-400: 1.75rem; // 28px where 1rem == 16px
  }

  // font family
  --ff-sans: 'Manrope', sans-serif;

  // font weight
  --fw-extrabold: 700;
}

body {
  font-family: var(--ff-sans);
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-400);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-neutral-700);
}

.card {
  position: relative;
  margin-inline: 0.5em;
  padding: 1.75em 1em 2.25em;
  max-width: 33.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  background-color: var(--clr-neutral-500);
  color: var(--clr-primary);
}

.advice-id {
  margin-bottom: 2.25em;
  text-transform: uppercase;
  font-size: var(--fs-200);
  letter-spacing: 0.35em;
  line-height: 1;
  color: var(--clr-secondary);
}

.advice-text {
  margin-bottom: 0.75em;
  line-height: 1.4;
}

.btn {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background-color: var(--clr-secondary);
  padding: 0.85em;
  border-radius: 50%;
  line-height: 0;

  &:hover {
    filter: drop-shadow(0 0 0.75rem var(--clr-secondary));
  }
}

.divider__desktop {
  display: none;
}

@media screen and (min-width: 36rem) {
  .card {
    padding: 1.75em 1.5em 2.25em;
  }

  .divider {
    &__mobile {
      display: none;
    }

    &__desktop {
      display: block;
    }
  }
}
